<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name=".DuaVaktiSmallWidget" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/duavakti_widget_small_info" />
    </receiver>
    <receiver android:name=".DuaVaktiMediumWidget" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/duavakti_widget_medium_info" />
    </receiver>
    <receiver android:name=".DuaVaktiLargeWidget" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/duavakti_widget_large_info" />
    </receiver>
  </application>
</manifest>
